@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
/* unvisited link */
a:link {
    color: #5f2934;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #eaa1af;
    text-decoration: underline;
}
/* mouse over link */
a:hover {
    color: #f4cad2;
    text-decoration: underline;
}
body {
    font-size: 100%;
    font-family: "Cambria", Verdana, sans-serif;
}
h1 {
    font-size: 4em;
    font-family: "Cambria", Verdana, sans-serif;
    color: #254043;
}
h2 {
    font-size: 3em;
    font-family: "Cambria", Verdana, sans-serif;
    color: #375827;
}
img {
    max-height: 100%;
    max-width: 100%;
}
p {
    padding-left: 15%;
}
.greetings {
    background-color: #5f9da3;
    width: 100%;
    height: 20%;
    position: relative;
}
    .greetings-text {
        position: absolute; 
		left: 5%;
		top: 50%;
		transform: translate(0,-50%);
    }
.declaration {
    background-color: #7eb762;
    width: 100%;
    height: 15%;
    position: relative;
}
    .declaration-text {
        vertical-align: middle; 
		position: absolute; 
		left: 5%;
		top: 50%;
		transform: translate(0,-50%);
    }
 /* Style the buttons that are used to open and close the accordion panel */
 /* Source: https://www.w3schools.com/howto/howto_js_accordion.asp */
 .accordion {
    background: #c56a7c;
    background-color: #eac8cf;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    text-indent: 10%;
    border: none;
    outline: none;
    transition: 0.4s;
    display: inline-block;
    font-size: 2.5em;
    font-family: "Cambria", Verdana, sans-serif;
    color: #5f2934;
    font-weight: bold;
}
    /* Add a background color to the button if it is clicked on (add the 
    .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #a54054;
    }
    .accordion:after {
        content: '\02795'; /*Unicode character for "plus" sign (+)*/
        font-size: .6em;
        color: #6e2b38;
        float: right;
        text-indent: 0%;
        margin-left: 5px;
    }
    .active:after {
        content: "\2796"; /*Unicode character for "minus" sign (-) */
    }
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #eac8cf;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.5em;
    font-family: "Cambria", Verdana, sans-serif;
    color: #5f2934;
    vertical-align: middle; 
    text-align: left;
}
    .panel img {
        display: inline-block;
        height: 8%;
        padding: 5px;
    }